<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/iconos/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/themes/miestilo.css}" rel="stylesheet">
    <title>Sistema de Gestión del Club Deportivo</title>
</head>
<th:block th:fragment="headContent">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/iconos/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/themes/miestilo.css}" rel="stylesheet">
    <title>Sistema de Gestión del Club Deportivo</title>
</th:block>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"
            ><i class="bi bi-speedometer2"></i> SGCD</a
            >
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link"
                           th:href="@{/}"
                        ><i class="bi bi-house-door-fill"></i> Inicio</a
                        >
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/miembros}"
                        ><i class="bi bi-people-fill"></i> Miembros</a
                        >
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/pagos}">
                            <i class="bi bi-currency-dollar"></i> Pagos de Membresía
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/reservas}"
                        ><i class="bi bi-calendar-check"></i> Reservas</a
                        >
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/reportes}"
                        ><i class="bi bi-bar-chart-line-fill"></i> Reportes</a
                        >
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="adminDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="bi bi-gear-fill"></i> Administración
                        </a>
                        <div
                                class="dropdown-menu p-3"
                                aria-labelledby="adminDropdown"
                                style="min-width: 300px"
                        >
                            <h6 class="dropdown-header">Membresías</h6>
                            <a class="dropdown-item" th:href="@{/membresias}">
                                <i class="bi bi-card-checklist"></i> Membresías
                            </a>
                            <a class="dropdown-item" th:href="@{/beneficios}">
                                <i class="bi bi-award"></i> Beneficios
                            </a>
                            <a class="dropdown-item" th:href="@{/notificaciones}">
                                <i class="bi bi-bell"></i> Notificaciones
                            </a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Instalaciones</h6>
                            <a class="dropdown-item" th:href="@{/instalaciones}">
                                <i class="bi bi-building"></i> Instalación
                            </a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Gestión de Accesos</h6>
                            <a class="dropdown-item" th:href="@{/usuarios}">
                                <i class="bi bi-person-lines-fill"></i> Usuarios
                            </a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Monitoreo</h6>
                            <a class="dropdown-item" th:href="@{/auditoria/actividades}">
                                <i class="bi bi-clock-history"></i> Auditoría y Actividades
                            </a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Configuración</h6>
                            <a class="dropdown-item" th:href="@{/configuracion}">
                                <i class="bi bi-sliders"></i> Configuración del sistema
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- Menú desplegable para el usuario -->
                <ul class="navbar-nav">
                    <!-- Enlace de inicio de sesión visible solo para usuarios no autenticados -->
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">
                            <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                        </a>
                    </li>

                    <!-- Menú desplegable para el usuario autenticado -->
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="bi bi-person-circle"></i> <span th:text="${currentMemberName}"/>
                        </a>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdown"
                        >
                            <li class="nav-item">
                                <form th:action="@{/logout}" method="post" style="display: inline;">
                                    <button type="submit" class="btn bi-box-arrow-left" style="padding: 0;"> Cerrar
                                        sesión
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<footer th:fragment="footer" class="bg-light text-center text-lg-start mt-4">
    <div class="text-center p-3">
        © 2025 SGCD - Sistema de Gestión de Club Deportivo
    </div>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</footer>
</body>
</html>