<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <div th:insert="~{plantillas/plantilla :: headContent}"></div>
    <style>
        .navbar-nav .nav-item {
            margin: 0 0.75rem;
        }
        .card-report {
            transition: transform 0.3s ease;
            cursor: pointer;
        }
        .card-report:hover {
            transform: scale(1.03);
        }
    </style>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>

<!-- Contenido principal -->
<div class="container mt-4">
    <h2 class="mb-4">Reportes</h2>
    <div class="row g-3">
        <!-- Tarjeta de Membresías -->
        <div class="col-md-4">
            <a th:href="@{/reportes/miembros}" class="text-decoration-none text-reset">
                <div class="card card-report">
                    <div class="card-body text-center">
                        <i class="bi bi-people-fill" style="font-size: 2rem"></i>
                        <h5 class="card-title mt-2">Miembros</h5>
                        <p class="card-text">Reporte de miembros.</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Tarjeta de Reservas -->
        <div class="col-md-4">
            <a th:href="@{/reportes/reservas}" class="text-decoration-none text-reset">
                <div class="card card-report">
                    <div class="card-body text-center">
                        <i class="bi bi-calendar-check" style="font-size: 2rem"></i>
                        <h5 class="card-title mt-2">Reservas</h5>
                        <p class="card-text">Reporte de ocupación de instalaciones.</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Tarjeta de Pagos -->
        <div class="col-md-4">
<!--            <a th:href="@{/reportes/pagos}" class="text-decoration-none text-reset">-->
                <div class="card card-report">
                    <div class="card-body text-center">
                        <i class="bi bi-currency-dollar" style="font-size: 2rem"></i>
                        <h5 class="card-title mt-2">Pagos</h5>
                        <p class="card-text">Reporte de ingresos y pagos realizados.</p>
                    </div>
                </div>
<!--            </a>-->
        </div>
    </div>
</div>

<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
